/*font-family: 'Playfair Display', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/ 

body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}

/*header start*/
header{
	padding: 20px 0;
	/*border: 1px solid red;*/

}
.container{
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid red;*/
	overflow: hidden;
}
.logo{
	width: 12%;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 10px;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin: 0 50px;
	border-bottom: 1px solid transparent;
	transition: .3s;
}

.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #000;
}

/*header end*/

/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*gataway start*/
.gataway{
	margin-top: 70px ;
}
.container2{
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.g_content{}
.light{
	font-family: 'Ubuntu', sans-serif;
	font-size:14px ;
	font-weight:300 ;
	color:#b4ad9e ;
	text-transform: uppercase;
	margin: 0;
}
.c_title{
	font-size: 30px;
	font-weight: 400;
	margin: 25px 0 30px;

}
.c_p{
	line-height: 25px;
	word-spacing: 1px;
	margin-top: 0;
	margin-bottom: 45px;
}
/*gataway end*/

/*blog start*/
.blog{
	padding: 70px 0;
	display: block;
}
.b_content{
	overflow: hidden;
}
.single{
	width: 47%;
	/*border: 1px solid black;*/
	float: left;
}
.single:nth-child(even){
	margin-left: 6%;
}
.single img{
	width: 100%;
	margin-bottom: 25px;
}
.mb_remove{
	margin-bottom: 0;
}
/*blog end*/
/*contact us start*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;

}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;

}
.signup form{
	position: relative;
	width: 400px;
	/*border: 5px solid red;*/
	margin: 0 auto;
	

}
.signup form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;

}
.signup form input:focus{
	outline: 0;
}
.signup button{
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right:0;

}
.signup button:focus{
	outline: 0;
}
.signup button img{}
/*contact us end*/
/*botton start*/
.load{
	padding: 100px 0;
	text-align: center;
}
.load button{
    width: 165px;
    height: 70px;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    border: 1px solid #626262;
    cursor: pointer;
    transition: .5s;
}
/*botton end*/

/*footer start*/
.color{
	background-color: #f0f0f0
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.logo_2 {
    float: left;
    overflow: hidden;
}
.logo_2 ul {
    float: right;
}
.logo_2 ul li {
    list-style: none;
    float: right;
}
.logo_2 ul li a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    border-bottom: 1px solid transparent;
    transition: .3s;
}
.menu_2 {
    width: 20%;
    float: right;
}
.menu_2 ul li {
    list-style: none;
    float: left;
}
.menu_2 ul li a {
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    border-bottom: 1px solid transparent;
}
.menu_2 ul li img {
    color: #626262;
    display: inline-block;
    padding: 0 10px;
  
}


/*footer end